---
import { twMerge } from 'tailwind-merge';

const { props } = Astro;
const { href, name } = props;

const anchorClassList = twMerge(
	'inline-flex size-full items-center px-6 text-sm hover:bg-light-secondary hover:dark:bg-dark-secondary',
);

interface Props {
	href: string;
	name: string;
}
---

<a
	class={anchorClassList}
	href={href}
>
	{name}
</a>
