---
import { twMerge } from 'tailwind-merge';
import UiMediaQuery from '#components/ui/UiMediaQuery.astro';
import NavbarLinks from './NavbarLinks.astro';

const sectionClassList = twMerge('mr-auto inline-flex h-10 items-center');
---

<UiMediaQuery mediaQuery="(width >= 64rem)">
	<section class={sectionClassList}><NavbarLinks /></section>
</UiMediaQuery>
