@font-face {
	font-family: "General Sans";
	src: url("/public/fonts/GeneralSans.woff2") format("woff2");
}

@font-face {
	font-family: "Stardom";
	src: url("/public/fonts/Stardom.woff2") format("woff2");
}
