@font-face {
	font-family: 'General Sans';
	font-display: swap;
	src: url('/fonts/GeneralSans.woff2') format('woff2');
}

@font-face {
	font-family: 'Stardom';
	font-display: swap;
	src: url('/fonts/Stardom.woff2') format('woff2');
}
