@import "tailwindcss";

@theme inline {
	--font-general-sans: "General Sans";
	--font-stardom: "Stardom";

	--color-dark-border: var(--color-neutral-700);
	--color-dark-primary: var(--color-neutral-950);
	--color-dark-secondary: var(--color-neutral-900);

	--color-light-border: var(--color-neutral-300);
	--color-light-primary: var(--color-neutral-50);
	--color-light-secondary: var(--color-neutral-100);
}

@custom-variant dark (&:where(.dark, .dark *));
