---
/* biome-ignore-all lint/correctness/noUnusedImports: (x) */

import Layout from '#layouts/Layout.astro';
---

<Layout>
	<div class="flex items-center justify-center h-full">
		<h1>404</h1>
	</div>
</Layout>
