---
/* biome-ignore-all lint/correctness/noUnusedImports: (x) */

import Layout from '#layouts/Layout.astro';
---

<Layout>
	<div
		class="my-6 p-4 border bg-amber-700 border-amber-500 text-amber-50 text-sm rounded-sm"
	>
		This page is under development!
	</div>
</Layout>
