---
import type { HTMLAttributeAnchorTarget } from 'react';
import { twMerge } from 'tailwind-merge';

const { props } = Astro;
const { href, target, text } = props;

const anchorClassList = twMerge(
	'inline-flex size-full items-center px-6 text-sm hover:bg-light-secondary hover:transition-colors hover:dark:bg-dark-secondary',
);

/*
 * biome-ignore lint/correctness/noUnusedVariables: This interface is used
 * internally by Astro to infer component props.
 */
interface Props {
	href: string;
	target: HTMLAttributeAnchorTarget;
	text: string;
}
---

<a
	class={anchorClassList}
	href={href}
	target={target}
>
	{text}
</a>
