---
import { twMerge } from 'tailwind-merge';
import NavbarLinks from './NavbarLinks.astro';

const sectionClassList = twMerge(
	'mr-auto hidden h-10 items-center lg:inline-flex',
);
---

<section class={sectionClassList}><NavbarLinks /></section>
