---
import '#styles/fonts.css';
import '#styles/globals.css';
import '#styles/tailwind.css';

import { ClientRouter } from 'astro:transitions';
import { Footer } from '#components/footer/Footer';
import ThemeScript from '#components/layout/ThemeScript.astro';
import { Navbar } from '#components/navbar/Navbar';

const { props, url } = Astro;
const { description, title } = props;

/*
 * biome-ignore lint/correctness/noUnusedVariables: This interface is used
 * internally by Astro to resolve the Layout component props.
 */
interface Props {
	description: string;
	title: string;
}
---

<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="utf-8">
		<meta
			name="viewport"
			content="width=device-width"
		>

		<title>{title} - FancyStudio.xyz</title>
		<meta
			content={description}
			name="description"
		>

		<link
			href="/favicon.ico"
			rel="icon"
		>

		<meta
			content="https://www.fancystudio.xyz"
			property="og:url"
		>
		<meta
			content="en_US"
			property="og:locale"
		>

		<ClientRouter />
		<ThemeScript />
	</head>
	<body
		class="transition-colors bg-light-primary text-dark-primary font-general-sans dark:bg-dark-primary dark:text-light-primary size-full"
	>
		<Navbar url={url} />
		<slot />
		<Footer />
	</body>
</html>
