---
/* biome-ignore-all lint/correctness/noUnusedImports: (x) */

import '#styles/fonts.css';
import '#styles/tailwind.css';

import { ClientRouter } from 'astro:transitions';
import { Navbar } from '#components/navbar/Navbar';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link
			rel="icon"
			href="/favicon.ico"
		>
		<meta
			name="viewport"
			content="width=device-width"
		>
		<meta
			name="generator"
			content={Astro.generator}
		>
		<title>FancyStudio</title>
		<ClientRouter />
	</head>
	<body
		class="bg-neutral-950 text-neutral-50 flex w-full justify-center font-general-sans"
	>
		<main class="max-w-5xl w-full min-h-dvh h-full">
			<Navbar />
			<slot />
		</main>
	</body>
</html>
