---
import '#styles/fonts.css';
import '#styles/globals.css';
import '#styles/tailwind.css';

import SEO from '#components/layout/SEO.astro';
import ThemeScript from '#components/layout/ThemeScript.astro';
import { Navbar } from '#components/navbar/Navbar';

const { props, url } = Astro;
const { isFullScreen, ...seoProps } = props;

/*
 * biome-ignore lint/correctness/noUnusedVariables: This interface is used
 * internally by Astro to infer component props.
 */
interface Props {
	canonical: string;
	description: string;
	isFullScreen?: boolean;
	robots: string;
	title: string;
}
---

<!DOCTYPE html>
<html lang="en-US">
	<head>
		<SEO {...seoProps} />
		<ThemeScript />
	</head>
	<body
		class="size-full bg-light-primary font-general-sans text-dark-primary selection:bg-dark-primary selection:text-light-primary dark:bg-dark-primary dark:text-light-primary dark:selection:bg-light-primary dark:selection:text-dark-primary"
	>
		<Navbar
			isFullScreen={isFullScreen}
			url={url}
		/>
		<slot />
	</body>
</html>
