---
import '#styles/fonts.css';
import '#styles/globals.css';
import '#styles/tailwind.css';

import { twMerge } from 'tailwind-merge';
import LayoutSearchEngineOptimization from '#components/layout/LayoutSEO.astro';
import LayoutTheme from '#components/layout/LayoutTheme.astro';
import Navbar from '#components/navbar/Navbar.astro';

const { props } = Astro;
const { isFullScreen, ...seoProps } = props;

const bodyClassList = twMerge(
	'size-full bg-light-primary font-general-sans text-dark-primary selection:bg-dark-primary selection:text-light-primary dark:bg-dark-primary dark:text-light-primary dark:selection:bg-light-primary dark:selection:text-dark-primary',
);

/*
 * biome-ignore lint/correctness/noUnusedVariables: This interface is used
 * internally by Astro to infer component props.
 */
interface Props {
	canonical: string;
	description: string;
	isFullScreen?: boolean;
	robots: string;
	title: string;
}
---

<!DOCTYPE html>
<html lang="en-US">
	<head>
		<LayoutSearchEngineOptimization {...seoProps} />
		<LayoutTheme />
	</head>
	<body class={bodyClassList}>
		<Navbar isFullScreen={isFullScreen} />
		<slot />
	</body>
</html>
