---
import { twMerge } from 'tailwind-merge';

const spanClassList = twMerge(
	'overflow-hidden truncate rounded-xs bg-light-tertiary px-2 py-0.5 font-bold text-light-foreground text-xs dark:bg-dark-tertiary dark:text-dark-foreground',
);
---

<span class={spanClassList}><slot /></span>
